/* Styles go here */

[contenteditable=true]:empty:not(:focus):before{
    content: attr(placeholder);
    color:    #999;
}



div[contenteditable=true] {
    border: 1px dashed #AAA;
}

h1[contenteditable=true] {
    border: 1px dashed #AAA;
}

/*pre {*/
    /*background:#EEE;*/
    /*padding:5px;*/
    /*width: 290px;*/
/*}*/
.fittext {
    width: 600px;
    height: 300px;
    border: 0px solid black;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.ng-file-over {
    border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
    border: dotted 3px green;
}

html, body {
    height: 100%;
}

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

.btn {
    margin: 5px;
}
