<!DOCTYPE html>
<html ng-app="getbookmarks" lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bower_components/toastr/toastr.min.css"/>
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="css/navbar.css">
    <base href="/home">
    <title>Travel Report</title>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.min.js"></script>

    <script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>

    <script src="bower_components/toastr/toastr.min.js"></script>

    <script src="js/routingConfig.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">

    <div class="container-fluid">

        <div class="navbar-header" data-access-level="accessLevels.public" active-nav="active-nav">
            <a class="navbar-brand" href="/">Путешественники</a>
        </div>


        <!-- RIGHT NAVBAR -->
        <div class="collapse navbar-collapse">


            <ul class="nav navbar-nav" data-access-level="accessLevels.user">
                <li><a href="/#/stories">Истории</a></li>
                <!--<li><a href="#">Link</a></li>-->
            </ul>

            <ul class="nav navbar-nav">
                <li data-access-level="accessLevels.admin">
                    <a href="/#/admin">Администрирование</a>
                </li>
                <!--<li><a href="#">Link</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li data-access-level="accessLevels.anon" active-nav="active-nav">
                    <a href="/#/login">Войти</a>
                </li>
                <li data-access-level="accessLevels.anon" active-nav="active-nav">
                    <a href="/#/register">Зарегистрироваться</a>
                </li>
                <!--<div id="userInfo" data-access-level="accessLevels.user" class="pull-right">Добро пожаловать&nbsp;-->
                    <!--<strong>{{user.username }}&nbsp;</strong>-->
                        <!--<span data-ng-class="{&quot;label-info&quot;: user.role.title == userRoles.user.title, &quot;label-success&quot;: user.role.title == userRoles.admin.title}"-->
                              <!--class="label">{{ user.role.title }}-->
                        <!--</span>-->
                <!--</div>-->
            </ul>



        <ul class="nav navbar-nav navbar-right" data-access-level="accessLevels.user">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Вошли как: {{ user.username }}
                </a>
                <ul class="dropdown-menu" role="menu">

                    <li><a href="#/profile">Профиль</a></li>
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li class="dropdown-header">Nav header</li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li></li>-->
                </ul>
            </li>
            <li>
                <a href="#/" data-ng-click="logout()">Выйти из аккаунта</a>
            </li>
        </ul>
        <!--/.nav-collapse -->
        </div>

    </div>

</div>

<br/><br/><br/>


<!--<div class="container" ng-view></div>-->

<div class="container" ui-view></div>
</body>


<script type="text/ng-template" id="/404">
    <ng-include src="'views/404.html'"></ng-include>
</script>

<!--<script type="text/ng-template" id="/login">-->
<!--<ng-include src="'views/login.html'"></ng-include>-->
<!--</script>-->

<!--script(type="text/ng-template", id="login")-->
<!--include partials/login-->

<!--script(type="text/ng-template", id="admin")-->
<!--include partials/admin-->
<!--script(type="text/ng-template", id="home")-->
<!--include partials/home-->

<!--script(type="text/ng-template", id="private/layout")-->
<!--include partials/private/layout-->
<!--script(type="text/ng-template", id="private/home")-->
<!--include partials/private/home-->
<!--script(type="text/ng-template", id="private/nested")-->
<!--include partials/private/nested-->
<!--script(type="text/ng-template", id="private/nestedAdmin")-->
<!--include partials/private/nestedAdmin-->
<script type="text/ng-template" id="register">
    <ng-include src="'views/register.html'"></ng-include>
</script>

<!--<script type="text/ng-template" id="home">-->
<!--<ng-include src="'views/home.html'"></ng-include>-->
<!--</script>-->


</html>
