<h2>
    Админка
</h2>
<div class="container" ng-controller="AdminController">
    <table class="table table-striped">
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>

            <td>
                <a href="#/administration/{{user.username}}">{{user.username}}</a>
            </td>
        </tr>
    </table>
</div>
