<h1>Register</h1>
<form ng-submit="register()" name="registerForm" role="form" class="form-horizontal">
    <div class="form-group">
        <label for="username" class="control-label col-sm-2">Username</label>
        <div class="col-sm-10">
            <input id="username" type="text" data-ng-model="username" placeholder="Username" name="username" required="required" data-ng-minlength="1" data-ng-maxlength="20" autofocus="autofocus" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-sm-2">Password</label>
        <div class="col-sm-10">
            <input id="password" type="password" data-ng-model="password" placeholder="Password" name="password" required="required" data-ng-minlength="5" data-ng-maxlength="60" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="radio radio-inline">
            <label>
                <input type="radio" name="role" data-ng-model="role" id="adminRole" data-ng-value="userRoles.admin"/>Administrator
            </label>
        </div>
        <div class="radio radio-inline">
            <label>
                <input type="radio" name="role" data-ng-model="role" id="userRole" data-ng-value="userRoles.user"/>Normal user
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <button type="submit" data-ng-disabled="registerForm.$invalid" class="btn">Submit</button>
        </div>
    </div>
    <div ng-show="registerForm.$invalid &amp;&amp; registerForm.$dirty" class="alert alert-danger"><strong>Please correct the following errors:</strong>
        <ul>
            <li ng-show="registerForm.username.$error.required">Username is required</li>
            <li ng-show="registerForm.username.$error.minlength">Username has to be at least 1 character long</li>
            <li ng-show="registerForm.username.$error.maxlength">Username has to be at most 20 character long</li>
            <li ng-show="registerForm.password.$error.required">Password is required</li>
            <li ng-show="registerForm.password.$error.minlength">Password must be at least 5 characters long</li>
            <li ng-show="registerForm.password.$error.maxlength">Password must be at most 60 characters long</li>
        </ul>
    </div>
</form>