<div class="container" ng-controller="StoryCreateController">

    <div class="container" nv-file-drop="" uploader="uploader">

        <h1 contentEditable="true" ng-enter ng-blur="updateStory(story)" ng-model="story.title"/>

        <small class="muted">{{story.submittedOn | date:'medium'}}</small>

        <form novalidate class="form-horizontal" ng-submit="save()">


            <table class="table" style="border:0px">
                <tr>
                    <td> <!-- story image uploader-->

                        <div class="image-upload1" ng-show="!story.image.url">
                            <label>
                                <img src="http://placehold.it/400x300"/>
                            </label>

                        </div>
                        <img ng-src="{{story.image.url}}" ng-show="!story.image.vertical && story.image.url"
                             degrees='angle' rotate width="400"
                             height="300"/>
                        <img ng-src="{{story.image.url}}" ng-show="story.image.vertical && story.image.url"
                             degrees='angle' rotate width="300"
                             height="400"/>
                    </td>
                    <td>

                        <div contentEditable="true" class="fittext" ng-blur="updateStory(story)" ng-enter
                             text="story.text" ng-model="story.text"
                             max-font-size="60"></div>
                 </td>

                </tr>
            </table>

            <br/>


        </form>

        <div>

            <div id="records">
                <div ng-repeat="record in story.records">
                    <div id="image">
                        <a ng-href="{{record.image.url}}">
                            <!-- HORIZONTAL -->
                            <img ng-src="{{record.image.url}}" ng-show="!record.image.vertical" width="800"
                                 height="600" class="img-responsive center-block"/>
                            <!-- VERTICAL -->
                            <img ng-src="{{record.image.url}}" ng-show="record.image.vertical" width="800"
                                 height="600" class="img-responsive center-block"/>
                        </a>

                        <a ng-click="selectStoryImage(record)">Обложка истории</a>


                    </div>

                    <div id="comment">
                        <a href="#" editable-textarea="record.comment" onbeforesave="updateRecord(record,$data)"
                           e-rows="7"
                           e-cols="40" e-style="width:100%;height:100%;">
                            <pre>{{ record.comment || 'Нет описания' }}</pre>
                        </a>
                    </div>
                    <td width="10%"><a ng-click="delete($index)">Удалить</a></td>
                </div>
                <!--one record-->

            </div>
            <!--records-->
        </div>

        <!--<div class="container" nv-file-drop="" uploader="uploader">-->

        <div class="row">


            <div>

                <div class="image-upload">
                    <label for="imgInp">
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader"
                             style="width:400px; height:300px;text-align: center; vertical-align: middle;">
                            Нажмите чтобы добавить фото или перетащите несколько файлов сюда, чтобы загрузить их
                            единовременно
                            <input id="imgInp" type="file" nv-file-select="" uploader="uploader" multiple/>
                        </div>
                    </label>

                </div>

            </div>

        </div>

    </div>
</div>


















