<h1>{{story.title}}</h1>
<small class="muted">{{story.submittedOn | date:'medium'}}</small>
<hr>
<div uploader="uploader">
    <!-- story image uploader-->


    <!--<div class="image-upload">-->
        <!--<label for="imgInp">-->
            <!--<div class="well my-drop-zone" nv-file-over="" uploader="uploader" style="width:400px; height:300px;text-align: center; vertical-align: middle;">-->
                <!--Нажмите чтобы добавить фото или перетащите несколько файлов сюда, чтобы загрузить их единовременно-->
            <!--</div>-->
        <!--</label>-->

        <!--<input id="imgInp" type="file" nv-file-select="" uploader="uploader" multiple/>-->
    <!--</div>-->


    <img src="{{story.image}}">

    <p class="lead">
        {{story.text}}
    </p>
</div>

<div>

    <table class="table" style="border:0px">
        <tr ng-repeat="record in story.records">
            <td><img ng-src="{{record.image.url}}" width="400" height="300"/></td>
            <td>
            <a href="#" editable-textarea="record.comment" onbeforesave="updateRecord(record,$data)" e-rows="7" e-cols="40" e-style="width:100%;height:100%;">
                <pre>{{ record.comment || 'Нет описания' }}</pre>
            </a>
            </td>
            <td width="10%"><a ng-click="delete($index)">Удалить</a></td>
        </tr>

    </table>
</div>

<div class="container" nv-file-drop="" uploader="uploader">

    <div class="row">
        <!--class="col-md-3"-->

        <div style="margin-bottom: 40px">
            <table class="table" style="vertical-align: middle; border-top:0 none">
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td width="40%">
                        <!-- preview -->

                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 300 }"></div>
                        <!--<img id="blah" src="getImg(item.url)" alt="your image" width="400" height="300"/>-->

                        <div ng-show="false"><strong>{{ item.file.name }}</strong></div>
                        <div ng-show="uploader.isHTML5 && false" nowrap>
                            {{ item.file.size/1024/1024|number:2 }} MB
                        </div>
                        <div ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </div>

                    </td>
                    <!--Комментарий-->
                    <td width="40%">
                        <div width="100%" class="controls" style="text-align:center;vertical-align:middle;">

                            <textarea width="100%">{{ record.comment}}</textarea>

                            <a href="#" editable-textarea="item.comment" onbeforesave="updateRecord(item,$data)" e-rows="7" e-cols="40">
                                <pre>{{ record.comment || 'Нет описания' }}</pre>
                            </a>
                        </div>
                    </td>
                    <!--<td class="text-center">-->
                        <!--<span ng-show="item.isSuccess"></span>-->
                        <!--<span ng-show="item.isCancel"></span>-->
                        <!--<span ng-show="item.isError"></span>-->
                    <!--</td>-->
                    <td width="20%" nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            Добавить
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            Убрать
                        </button>
                        <!--<a ng-click="delete($index)" class="btn btn-default btn-xs">Удалить запись</a>-->
                    </td>

                </tr>
                </tbody>
            </table>

            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>

            <div ng-hide="true">
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-xs" ng-click="uploader.uploadAll()"
                        ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить все
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.clearQueue()"
                        ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-star"></span> Убрать все
                </button>
                <p>Файлов в очереди: {{ uploader.queue.length }}</p>
            </div>

        </div>


        <div>

            <div class="image-upload">
                <label for="imgInp">
                    <div class="well my-drop-zone" nv-file-over="" uploader="uploader" style="width:400px; height:300px;text-align: center; vertical-align: middle;">
                        Нажмите чтобы добавить фото или перетащите несколько файлов сюда, чтобы загрузить их единовременно
                    </div>
                </label>

                <input id="imgInp" type="file" nv-file-select="" uploader="uploader" multiple/>
            </div>

        </div>

    </div>

</div>













