<h2>
    Истории
</h2>
<div class="container" ng-controller="StoryListController">
    <table class="table table-striped">
        <tr ng-repeat="story in stories">
            <td style="width:10%"><a href="/#/stories/{{story.id}}">{{story.title}}</a></td>
            <td style="width:50%">{{story.fullname}}</td>
            <td style="width:20%">
                {{story.text}}
            </td>
            <td style="width:10%">
                <img ng-src="{{story.image.url}}" width="200" height="150"/>
            </td>
            <td style="width:10%"><a ng-click="delete($index)" class="btn btn-danger btn-xs">Удалить историю</a></td>
        </tr>
    </table>

    <a class="btn btn-primary pull-left" href="/#/stories/new"><i
            class="icon-plus-sign icon-white"></i>Создать</a>
</div>